
.tudo{
    width:100% ;
    margin: 0px;
    padding: 0px;
    background-color:#f2b705 ;
    

}
h1{
    text-align: center;
    color: #562989;
    margin: 0%;
}
p{
    color:#562989;
}

img{
    float: left;
    width:30% ;

}
body{
    margin: 0%;
    padding: 0%;
    background-color: #F2B705;
}



.paragrafo{
  border: #562989 solid 1px; 

}
body{
    font-size: 25px;px ;
}
.div2{
    float:right;
}
.div4{
float: right;
}
.div6{
    width:26% ;
    float: right;
    
}
.div7{
    float: right;
}
.div8{
    width: 27%; ;
}
h1{
    background-color:#F2B705;
}
header{
    width: 100%;
    height: 80px;
    background-color: #F2B705;
    
}
.menu{
    background-color: #F2B705;
    width: 100%;
    margin: 0%;
    padding: 0%;
    
}


